@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');

body{
    background-color: rgb(54, 49, 49) !important;
}

a{
    color:rgb(207, 204, 204) !important;
    font-family: 'Sansita Swashed', cursive;
    font-size: 20px;
}

h3{
    font-family: 'Krona One', sans-serif;
    font-size:30px !important;
    
}
@media only screen and (max-width: 600px) {
    h3 {
        font-size:10px !important;
    }
  }
h2, h1{
    font-family: 'Krona One', sans-serif;
    text-align: center;
    color:rgb(207, 204, 204);
}


.navbar-brand img {
    width:250px;
    height:80px;
}

.cytat{
    font-style: italic;
    font-size: 25px;
    color: rgb(207, 204, 204);
    margin-top:75px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.row p{
    margin-top:80px;
    color: rgb(207, 204, 204);
    font-family: 'Krona One', sans-serif;
}

.oferta{
    display:block;
    width:50%;
    margin-top:20px;
    margin-bottom:20px; 
}

.oferta li{
    color:rgb(207, 204, 204);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:25px;
    padding: 0.2em;
    border-bottom: 1px dashed rgb(134, 124, 124);
    list-style-type: none;
    list-style-image: url("./lista3.svg");
    margin-bottom:5px;
}

.oferta li:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    z-index: 0;
}

.oferta .tab1{
    border: black;
    border-style: double;
    
}

.oferta .tab2{
    border: black;
    border-style: double;
    
}
.oferta-img{
    position: relative;
    margin-bottom: 25px;
}
.oferta-img-caption{
position: absolute;
  width: 70px;
  height: 175px;
  top: 50%;
  right: 50%;
  color: #ffffff;
  text-align:center;
  font-weight:bold;
  font-size:50px;
}

@media only screen and (max-width: 600px) {
    .oferta-img-caption {
        font-size:20px;
        right:40%;
        top:50%;
    }
  }

iframe{
    width:100%;
    height:400px;
    margin-top:20px;
    border: transparent;
}

.card{
    margin-top:120px;
    text-align: center;
    font-size: 13px;
    background-color: rgb(105, 43, 43) !important;
    color: rgb(207, 204, 204);
    font-family: 'Krona One', sans-serif;

}